go 1.26.3

use (
	./ecommerce-catalog-service
	./ecommerce-catalog-service-api
	./ecommerce-category-query-service
	./ecommerce-category-query-service-api
	./ecommerce-commons
	./ecommerce-image-service
	./ecommerce-image-service-api
	./ecommerce-infrastructure/cmd/logto-seed
	./ecommerce-infrastructure/cmd/seeder
	./ecommerce-product-query-service
	./ecommerce-product-query-service-api
	./ecommerce-tenant-service
	./ecommerce-tenant-service-api
)
